/* Color palette */
:root {
  --bg: #f7f7f7;
  --text: #1a1a1a;
  --primary: #0059a1;
  --secondary: #00854b;
}

/* Import Poppins font */
@font-face {
  font-family: pm;
  src: url(../fonts/poppins-medium.ttf);
}
@font-face {
  font-family: pb;
  src: url(../fonts/poppins-bold.ttf);
}
@font-face {
  font-family: peb;
  src: url(../fonts/poppins-extrabold.ttf);
}

/* Initialisation du page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg) !important;
  font-family: pm !important;
  min-height: 100dvh;
}

nav ul li a {
  color: var(--text) !important;
  font-size: 1.1rem !important;
  font-family: pb !important;
  padding: 4px 15px !important;
  transition: 0.3s all ease;
}

.active {
  color: var(--primary) !important;
}

nav ul li a:hover {
  color: var(--primary) !important;
  transition: 0.3s all ease;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sec-1 {
  margin: 35px 0 12px 0;
}

#sec-1 h1 {
  font-family: peb;
  color: var(--primary);
}

#sec-1 p {
  font-size: 1.5rem !important;
  font-family: pb;
  color: var(--secondary);
}

#sec-1 a button {
  margin: 8px 5px 50px 5px;
  background-color: var(--bg);
  color: var(--primary);
  border: 2px var(--primary) solid;
  border-radius: 8px;
  font-family: pb;
  transition: 0.2s all ease;
}

#sec-1 a button:active {
  transform: translateY(2px);
  transition: 0.2s all ease;
}

#sec-1 img {
  object-fit: cover;
  border-radius: 12px;
}

footer {
  min-height: 5vh;
  background-color: var(--bg) !important;
}

#sec-2 {
  margin: 20px 7px;
}

#sec-2 img {
  object-fit: cover;
  aspect-ratio: 16/9;
}

#sec-2 .card {
  transition: all ease 0.2s;
}

#sec-2 .card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2) !important;
  transition: all ease 0.2s;
}

#sec-2 a {
  text-decoration: none;
}

#sec-2 h1,
#sec-3 h1 {
  font-family: peb;
  color: var(--secondary);
}

#sec-2 h5 {
  color: var(--primary);
}

#sec-3 .presentation {
  text-align: justify;
  padding: 30px;
  font-family: pm;
  font-size: large;
}

#sec-3 .row {
  margin: 30px 10px 50px 10px;
}

#sec-3 .card {
  height: 100%;
}

#sec-3 .card img {
  object-fit: cover;
}

#sec-3 #card-fm .card-title {
  font-family: pb;
  color: #0059a1;
  padding: 10px;
}

#sec-3 #card-fm .card-text {
  text-align: left;
  padding: 0 20px;
}

iframe {
  border: solid 2px var(--text) !important;
  border-radius: 8px;
}

#sec-4 {
  width: 70% !important;
}

#sec-4 h1 {
  font-family: peb;
  color: var(--secondary);
}

#send {
  text-align: left;
}

/* Tablet Media Query */
@media (max-width: 1024px) {
  #sec-4 {
    width: 100% !important;
  }
}

/* Mobile Media Query */
@media (max-width: 576px) {
  #sec-4 {
    width: 100% !important;
  }
}