/* Color palette */
:root {
  --bg: #f7f7f7;
  --text: #1a1a1a;
  --primary: #0059a1;
  --secondary: #00854b;
}

/* Import Poppins font */
@font-face {
  font-family: pm;
  src: url(../fonts/poppins-medium.ttf);
}
@font-face {
  font-family: pb;
  src: url(../fonts/poppins-bold.ttf);
}
@font-face {
  font-family: peb;
  src: url(../fonts/poppins-extrabold.ttf);
}

/* Initialisation du page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg) !important;
  font-family: pm !important;
  min-height: 100dvh;
}

nav ul li a {
  color: var(--text) !important;
  font-size: 1.1rem !important;
  font-family: pb !important;
  padding: 4px 15px !important;
  transition: 0.3s all ease;
}

.active {
  color: var(--primary) !important;
}

nav ul li a:hover {
  color: var(--primary) !important;
  transition: 0.3s all ease;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sec-1{
  margin: 40px 0 12px 0;
}

#sec-1 h1 {
  font-family: peb;
  color: var(--primary);
}

#sec-1 p {
  font-size: 1.5rem !important;
  font-family: pb;
  color: var(--secondary);
}

#sec-1 a button {
  margin: 10px 5px 40px 5px;
  background-color: var(--bg);
  color: var(--text);
  border: 2px var(--text) solid;
  border-radius: 0px;
  font-family: pb;
  font-size: 1.2rem;
  transition: 0.2s all ease;
}

#sec-1 a button:hover{
  transform: translateY(2px);
  transition: 0.2s all ease;
}

#sec-1 img {
  object-fit: cover;
  border-radius: 12px;
}

footer {
  min-height: 5vh;
  background-color: var(--bg) !important;
}

#sec-2 {
  margin: 20px 7px;
}

#sec-2 img {
  object-fit: cover;
  aspect-ratio: 16/9;
}

#sec-2 .card {
  transition: all ease 0.2s;
}

#sec-2 .card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2) !important;
  transition: all ease 0.2s;
}

#sec-2 a {
  text-decoration: none;
}

#sec-3 h1{
  font-family: peb;
  color: var(--secondary);
}

#sec-3 .presentation {
  text-align: justify;
  margin: 30px;
  font-family: pm;
}

#sec-3 .row {
  margin: 30px 10px 50px 10px;
}

#sec-3 .card {
  height: 100%;
}

#sec-3 .card img {
  object-fit: cover;
}
